$bright-color: #8FBE00;
$light-color: #F2E9E1;
$dark-grey: #000000;
$soft-grey: #777777;
$soft-white: #EEEEEE;

*{
  padding:0;
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
}
body{
  background-color:$soft-white;
  align-text:center;
  font-size: 15px;
}

img{
  border:0;
}

#wrapper{
  width:80%;
  margin: 10px auto;
}

a{
  color:$dark-grey;
  text-decoration:none;
}
a:hover{
  text-decoration: underline;
}

#header{
  background-color:$bright-color;
  height: 25px;
  padding: 6px 0 0 0;
  #logo{
    display:inline;
    margin: 10px;
    font-weight: bold;
  }
  #menu{
    display:inline;
    
    .right{
      float:right;
      padding-right:20px;
    }
    .left{
      float:left;
    }
  }
}

#content{
  background-color:$light-color;  
  color: $soft-grey;
}

.comment{
  .votes{
    float:left;
    padding: 5px 10px 0 11px;
    height:45px;
 
    .upvote{

    }
    .voted{
      font-weight:900;
      font-size:1.1em;
    }    
  }
  .info{
    font-size:0.8em;
    padding: 0px 10px 5px 10px;
    
  }
  .comment-message{
    color:$dark-grey;
    padding-left:32px;
    p {
      margin-bottom: 1em;
    }
  }
  .reply{
    text-decoration:underline;
    padding: 1px 0 10px 32px;
    font-size:0.8em;
    clear:both;
  }
  .innerComments{
    padding-left:20px;
  }
}

#post{
  padding: 5px 5px; 
  .message{
    padding: 5px 20px 20px 20px; 
    color: $dark-grey;
  }
  form{
    clear:both;
  }
  textarea{
    width:100%;
    max-width:800px;
    height:100px;
  }
}

.noticia{
  .order-number{
    float:left;    
    padding: 0px 3px;
    font-size:0.9em;
  }
  .voted{
    font-weight:900;
    font-size:1.1em;
  }
  .post-title{
    font-size:1.0em;
    padding: 5px 10px 0px 10px;
    .post-netloc{
      font-size:0.7em;
    }
  }
  .post-info{
    font-size:0.8em;
    padding: 0px 10px 5px 55px;
  }
  .post-votes{
    float:left;
    padding: 8px 10px 5px 11px;
  }
  
}

.submit{
  .textfields{
    width:80%;
  }
  textarea{
    width:80%;
    height:125px;
  }
}

.profile{
  padding: 15px;
  form{
    padding: 10px;
    textarea{
      width:100%;
      height:120px;
    }
  }
}

#footer{
  height:35px;
  padding: 6px 0 0 0;
  text-align:center;
  background-color:$bright-color;
  .disclamer{
    font-size:0.8em;
  }
}

#guidelines{
  padding: 0 20px;
  h3 {
    padding: 5px 0px;
    font-size:1.2em;
  }
  p {
    padding: 10px 0px;
  }
}
h1{
  padding:20px;
}
form{
  padding:10px 20px 20px 20px;
}
label{
  display:block;
}
fieldset{
  border:0px;
}

textarea {
  font: 100%/120% Verdana, Arial, Helvetica, sans-serif;
}
