
$bright-color: #8FBE00;
$light-color: #F2E9E1;
$dark-grey: #000000;
$soft-grey: #777777;
$soft-white: #EEEEEE;

*{
  padding:0;
  margin:0;
  font-family: helvetica;
}
body{
  background-color:$soft-white;
  align-text:center;
}

#wrapper{
  width:80%;
  margin: 10px auto;
}

a{
  color:$dark-grey;
  text-decoration:none;
}

#header{
  background-color:$bright-color;
  height: 25px;
  padding: 6px 0 0 0;
  #logo{
    display:inline;
    margin: 10px;
    font-weight: bold;
  }
  #menu{
    display:inline;
    
    .right{
      float:right;
      padding-right:20px;
    }
    .left{
      float:left;
    }
  }
}

#content{
  background-color:$light-color;  
  color: $soft-grey;
  .voted{
    font-weight:900;
    font-size:1.1em;
  }
  .post-title{
    font-size:1.2em;
    padding: 5px 10px 0px 10px;
  }
  .post-info{
    font-size:0.8em;
    padding: 0px 10px 5px 10px;
  }
  .post-votes{
    float:left;
    padding: 5px 10px 0 11px;
    padding-left:11px;
    padding-top:5px;
    height:40px;
    .post-upvote{
      
    }
    .post-downvote{
      position:relative;
      left:0px;
    }
  }
}

#footer{
  height:25px;
  padding: 6px 0 0 0;
  font-weight: bold;
  text-align:center;
  background-color:$bright-color;
}

h1{
  padding:20px;
}
form{
  padding:0 20px 20px 20px;
}
label{
  display:block;
}
fieldset{
  border:0px;
}

.innerComments{
  padding-left:20px;
}
