$bright-color: #8AC649;
$alert-color: #FF4E27;
$light-color: #F2E9E1;
$dark-grey: #222;
$soft-grey: #777777;
$soft-white: #EEEEEE;
$soft-red: #FFB5C7;
$dark-red: #FF0A47;

*{
  padding:0;
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
}

body{
  background-color:$soft-white;
  align-text:center;
  font-size: 14px;
  line-height:1.5em;
}

img{
  border:0;
}

#wrapper{
  width:80%;
  margin: 10px auto;
}

a{
  color:$dark-grey;
  text-decoration:none;
}
a:hover{
  text-decoration: underline;
}

#header{
  background-color:$bright-color;
  height: 25px;
  line-height:25px;
  position:relative;

  #logo{
    span.logotype{
      display:inline-block;
      margin:1px;
      line-height:21px;
      height:19px;
      width:21px;
      color:#fff;
      text-align:center;
      padding-right:4px;
    }
  }

  #menu {
    a {
        font-size:13px;
        text-transform:lowercase;
        line-height:25px;
    }

    #main_nav{
        position:absolute;
        left:30px;
        top:0;
        height:25px;
        span.sitename{
          padding-right:5px;
          text-transform:none;
          font-weight:bold;
        }
    }
    #user_toolbar{
        position:absolute;
        right:0;
        top:0;
        padding:0 10px;

        .karma{
            font-size:12px;
            padding:0 5px;
            color:lighten($dark-grey,5%);
        }
    }
  }
}

#content{
  background-color:$light-color;
  color: $soft-grey;
}
#content-2{
  background-color:$light-color;
  color: $soft-grey;
}

#indextanksearch {
  padding: 0 0 0 0px;
  display: inline; 
}

.comment{
  .comment-post{
    padding:0 0 0 11px;
  }
  .votes{
    float:left;
    padding: 5px 0 0 11px;
    height:45px;
    min-width:20px;

    .upvote{

    }
    .voted{
      img{display:none}
      font-weight:900;
      font-size:1.1em;
    }
  }
  .info{
    font-size:0.8em;
    padding: 0px 10px 5px 30px;
    
    .hide-show-comment{
	  display:none;
      cursor: pointer;
	}
  }
  .comment-message{
    color:$dark-grey;
    padding-left:32px;
    p {
      margin-bottom: 1em;
    }
  }
  .reply{
    text-decoration:underline;
    padding: 1px 0 10px 32px;
    font-size:0.8em;
    clear:both;
  }
  .innerComments{
    padding-left:20px;
  }
}

#post{
  padding: 5px 5px;
  .message{
    padding: 5px 20px 20px 20px;
    color: $dark-grey;
  }
  form{
    clear:both;
  }
  textarea{
    width:100%;
    max-width:800px;
    height:100px;
  }
}

.busqueda{
  margin-left: 51px;
}

.noticia{
  border-bottom:1px solid darken($light-color,3%);

  &:nth-child(even){
    background:darken(desaturate($light-color,6%),2%);
  };

  a:visited{
    color:lighten($dark-grey,32%);
    text-decoration:none;
  }

  .order-number{
    float:left;
    font-size:13px;
    width:20px;
    padding:0 5px;
    line-height:28px;
    text-align:right;
    font-weight:bold;
  }

  a.post-upvote{
    display:block;
    float:left;
    height:16px;
    padding-top:7px;
    text-align:center;
    width:21px;
  }

  .voted{
    img{display:none}
    font-weight:900;
    font-size:1.1em;
  }

  .post-title{
    line-height:28px;

    .post-netloc{
      font-size:0.7em;
    }
  }

  .post-info{
    font-size:11px;
    line-height:13px;
    margin-left:51px;
  }

  .post-votes{
    min-width:36px;
    float:left;
  }

}

.submit{
  .textfields{
    width:80%;
  }
  textarea{
    width:80%;
    height:125px;
  }
}

.profile{
  padding: 15px;
  form{
    padding: 10px;
    textarea{
      width:100%;
      height:120px;
    }
  }
}

#pages{
  padding:10px 51px ;
  font-size:13px;
  font-weight:bold;
}

#footer{
  font-size:12px;
  line-height:17px;
  text-align:center;
  background-color:$bright-color;
  padding: 5px 0;
  .disclamer{
    line-height:15px;
    font-size:0.8em;
  }
}

#guidelines{
  padding: 0 20px;
  h3 {
    padding: 5px 0px;
    font-size:1.2em;
  }
  p {
    padding: 10px 0px;
  }
}
h1{
  padding:20px;
}
form{
  padding:10px 20px 20px 20px;
}
label{
  display:block;
}
fieldset{
  border:0px;
}

textarea {
  font: 100%/120% Verdana, Arial, Helvetica, sans-serif;
}

.error{
  color:$dark-red;
  padding-left: 20px;
  font-weight:bold;
}

.success{
  color:$bright-color;
  font-weight:bold;
}

input.fielderror, textarea.fielderror {
    background-color: $soft-red;
    border: 1px solid $dark-red;
}

.leaderboard{
  padding: 25px 50px;
  .leader-user{
    .position{
      width:50px;
      float:left;
    }
    .nickname{
      width:150px;
      float:left;
    }
    .karma{
      width:50px;
      float:left;
    }
    .karma{
      width:50px;
      float:left;
    }
  }
}

.notifications-menu{
  padding: 0 0 0 20px;
  .page{
    font-weight:bold;
  }
  #all{
    background: transparent url(/static/images/sobre.png) no-repeat scroll 0 0;
    padding-left: 20px; 
  }
  #unread{
    background: transparent url(/static/images/sobre_active.png) no-repeat scroll 0 0;
    padding-left: 20px;
  }
}

.notifications{
  .notification{
    list-style: none;
    margin: 20px 0 15px 20px;
    .reply{
      font-size: 0.8em;
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background: #8EB932;
  margin: 7px 0;
} //hr

#login-register-boxes{
  height:300px;
}

#login-box{
  border-right:1px solid $bright-color;
}

#login-box, #register-box {
  float:left;
  width:49%;
  text-align:center;
  margin-top:50px;
}

#top-alert{
  padding: 2px 0;
  width:100%;
  max-height:26px;
  background: $alert-color;
  text-align:center;
  a{
    text-decoration:underline;
  }
}
