* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif; }

body {
  background-color: white;
  align-text: center;
  font-size: 14px;
  line-height: 1.5em; }

img {
  border: 0; }

#wrapper {
  width: 80%;
  margin: 30px auto; }

a {
  color: #8ac649;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#header {
  background-color: #8ac649;
  height: 25px;
  line-height: 25px;
  position: relative;
  margin-bottom: 5px;
  padding: 0.3em; }
  #header #logo span.logotype {
    display: blog;
    width: 23px;
    height: 23px;
    float: left; }
  #header #menu a {
    color: #111111;
    font-size: 13px;
    text-transform: lowercase;
    line-height: 25px; }
  #header #menu #main_nav {
    float: left;
    margin-left: 24px; }
    #header #menu #main_nav span.sitename {
      padding-right: 5px;
      text-transform: none;
      font-weight: bold; }
  #header #menu #user_toolbar {
    float: right;
    padding: 0 10px; }
    #header #menu #user_toolbar .karma {
      font-size: 12px;
      padding: 0 5px;
      color: #1e1e1e; }

#content {
  color: #666666; }

#content-2 {
  color: #666666; }

#indextanksearch {
  padding: 0 0 0 0px;
  display: inline; }

.comment .comment-post {
  padding: 0 0 0 11px; }
.comment .votes {
  float: left;
  padding: 5px 0 0 11px;
  height: 45px;
  min-width: 20px; }
  .comment .votes .voted {
    font-weight: 900;
    font-size: 1.1em; }
    .comment .votes .voted img {
      display: none; }
.comment .info {
  font-size: 0.8em;
  padding: 0px 10px 5px 30px; }
  .comment .info .hide-show-comment {
    display: none;
    cursor: pointer; }
.comment .comment-message {
  color: #111111;
  padding-left: 32px; }
  .comment .comment-message p {
    margin-bottom: 1em; }
.comment .reply {
  text-decoration: underline;
  padding: 1px 0 10px 32px;
  font-size: 0.8em;
  clear: both; }
.comment .innerComments {
  padding-left: 20px; }

#post {
  padding: 5px 5px; }
  #post .message {
    padding: 5px 20px 20px 20px;
    color: #111111; }
  #post .noticia {
    padding: 1em 0; }
    #post .noticia .post-info {
      margin-left: 35px; }
  #post form {
    clear: both; }
  #post textarea {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 800px;
    height: 100px;
    padding: 1em; }

.busqueda {
  margin-left: 51px; }

.noticia {
  border-bottom: 1px solid #F2F2F2;
  padding: 0.2em 0 0.5em;
  margin: 1px 0 0; }
  .noticia:nth-child(even) {
    background: #F5F5F5; }
  .noticia a:visited {
    color: #636363;
    text-decoration: none; }
  .noticia .order-number {
    float: left;
    width: 20px;
    text-align: right;
    font-weight: normal;
    font-size: 0.75em;
    padding-top: 5px; }
  .noticia a.post-upvote {
    display: block;
    float: left;
    padding-top: 4px;
    padding-left: 8px;
    width: 20px; }
  .noticia .voted {
    font-weight: 900;
    font-size: 1.1em; }
    .noticia .voted img {
      display: none; }
  .noticia .post-title {
    line-height: 2em;
    font-size: 1.1em; }
    .noticia .post-title a {
      color: #111111; }
      .noticia .post-title a:visited {
        color: #b3b3b3; }
    .noticia .post-title .post-netloc {
      font-size: 0.7em;
      font-family: Consolas,Courier,monospace; }
  .noticia .post-info {
    font-size: 11px;
    line-height: 13px;
    margin-left: 51px; }
    .noticia .post-info a {
      color: #8ac649; }
  .noticia .post-votes {
    min-width: 36px;
    float: left; }

.submit {
  color: #111111;
  padding: 15px; }
  .submit hr {
    margin-bottom: 2em; }
  .submit .textfields {
    width: 80%; }
  .submit input {
    padding: 0.5em;
    margin-bottom: 1em; }
  .submit textarea {
    padding: 0.5em;
    width: 80%;
    height: 125px; }

.profile {
  color: #111111;
  padding: 15px; }
  .profile h1 {
    padding: 0;
    margin-bottom: 1em; }
  .profile form {
    padding: 0; }
    .profile form label {
      margin-top: 1em; }
    .profile form textarea {
      width: 50%;
      height: 120px;
      padding: 0.5em; }
    .profile form input {
      padding: 0.5em; }

#pages {
  padding: 10px 51px;
  font-size: 13px;
  font-weight: bold; }

#footer {
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  background-color: #8ac649;
  padding: 5px 0; }
  #footer .disclamer {
    line-height: 15px;
    font-size: 0.8em; }
  #footer a {
    color: #111111; }

#guidelines {
  padding: 0 20px;
  color: #111111;
  margin: 2em 0; }
  #guidelines h3 {
    padding: 5px 0px;
    font-size: 1.2em; }
  #guidelines p {
    padding: 10px 0px; }

h1 {
  padding: 0;
  margin-bottom: 1em; }

form {
  padding: 10px 20px 20px 20px; }

label {
  display: block; }

fieldset {
  border: 0px; }

input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em; }

.error {
  color: #ff0a47;
  padding-left: 20px;
  font-weight: bold; }

.success {
  color: #8ac649;
  font-weight: bold; }

input.fielderror, textarea.fielderror {
  background-color: #ffb5c7;
  border: 1px solid #ff0a47; }

.leaderboard {
  padding: 0 20px;
  color: #111111;
  margin: 2em 0; }
  .leaderboard .leader-user .position {
    width: 50px;
    float: left; }
  .leaderboard .leader-user .nickname {
    width: 150px;
    float: left; }
  .leaderboard .leader-user .karma {
    width: 50px;
    float: left; }
  .leaderboard .leader-user .karma {
    width: 50px;
    float: left; }

.notifications-menu {
  padding: 0 0 0 20px; }
  .notifications-menu .page {
    font-weight: bold; }
  .notifications-menu #all {
    background: transparent url(/static/images/sobre.png) no-repeat scroll 0 0;
    padding-left: 20px; }
  .notifications-menu #unread {
    background: transparent url(/static/images/sobre_active.png) no-repeat scroll 0 0;
    padding-left: 20px; }

.notifications .notification {
  list-style: none;
  margin: 20px 0 15px 20px; }
  .notifications .notification .reply {
    font-size: 0.8em; }

hr {
  border: 0;
  height: 1px;
  background: #8EB932;
  margin: 7px 0; }

#login-register-boxes {
  overflow: hidden;
  color: #111111;
  margin: 2em 0; }
  #login-register-boxes input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 12em; }

#login-box {
  border-right: 1px solid #8ac649; }

#login-box, #register-box {
  float: left;
  width: 49%;
  text-align: center;
  margin-top: 50px; }

#top-alert {
  padding: 0.5em 0;
  background: #ff4e27;
  text-align: center;
  color: #f2e9e1; }
  #top-alert a {
    color: white;
    text-decoration: underline; }

#password_recovery, #new_password {
  color: #111111;
  margin: 2em 0;
  padding: 0 20px; }
