<html>
  <head>
    <title>Noticias</title>
    <link rel="stylesheet" href="/static/css/noticias.css" type="text/css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://noticiashacker.com/rss" />
    <script src="/static/javascript/jquery.js"></script>
    <script src="/static/javascript/NH.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="menu">
          <span class="left">
            <div id="logo"><a href="/">N Noticias Hacker</a></div>
            <a href="/nuevo">Nuevo</a> |
            <a href="/agregar">Agregar un link/mensaje</a>
          </span> 
          <span class="right">
            {% if user %}
              <a href="/perfil/{{user.nickname}}">{{user.nickname}}</a>({{user.sum_votes}}) |
              <a href="/logout">Log out</a>
            {% else %} 
              <a href="/login">Login o registro</a>
            {% endif %} 
          </span>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        <a href="/rss">RSS</a> | 
        <a href="/directrices">Directrices</a> | 
        <a href="/preguntas-frecuentes">Preguntas frecuentes</a> | 
        <a href="https://github.com/DFectuoso/Noticias-HAcker">Código</a>
        <p class="disclamer">
          NoticiasHacker es hecho en <a href="https://github.com/DFectuoso/Noticias-HAcker/blob/master/COMMITTERS">comunidad</a> y no esta asociado de ninguna manera a <a href="http://news.ycombinator.com">Hacker News</a>
        </p>
      </div>
    </div>
  </body>
</html>
