<html>
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <title>Noticias Hacker{% if display_post_title %} | {{post.title}}{% endif %}</title>
    <link rel="stylesheet" href="/static/css/noticias.css" type="text/css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascript/NH.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2138729-21']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
          <div id="logo">
              <a href="/" title="Hacker News">
                <span class="logotype">N</span> Noticias Hacker
              </a>
          </div>
        <div id="menu">
          <div id="main_nav">
            <a href="/nuevo">nuevo</a>
	          {% if user %}
	            | <a href="/conversaciones/{{user.nickname}}">conversaciones</a>
	          {% endif %}
            | <a href="/agregar">Agregar un link/mensaje</a>
          </div>
          <div id="user_toolbar">
            {% if user %}
              {% if user.has_notifications %}
                <span><a href="/inbox">Inbox :)</a></span>
              {% else %}
                <span><a href="/inbox">Inbox :(</a></span>
              {% endif %}
              <a href="/perfil/{{user.nickname}}">{{user.nickname}}</a><span class="karma">({{user.sum_votes}})</span> |
              <a href="/logout">Log out</a>
            {% else %}
              <a href="/login">Login o registro</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        <p>
          <a href="/rss">RSS</a> |
          <a href="/directrices">Directrices</a> |
          <a href="/preguntas-frecuentes">Preguntas frecuentes</a> |
          <a href="https://github.com/DFectuoso/Noticias-HAcker/issues">Comentarios y sugerencias</a> |
          <a href="https://github.com/DFectuoso/Noticias-HAcker">Código</a>
        </p>
        <p>
          <a href="http://www.google.com/search?q=site%3Awww.noticiashacker.com">Busqueda</a> | 
          <a href="/lideres">Líderes</a> | 
          <a href="http://twitter.com/noticiash4cker">@noticiasH4cker</a> | 
          <a href="javascript:(function(){ var title = document.getElementsByTagName('title')[0].innerHTML;var url = location.href;window.location = 'http://www.noticiashacker.com/agregar?title_bookmarklet='+encodeURIComponent(title)+'&url_bookmarklet='+encodeURIComponent(url); })();">NH Bookmarklet</a>
        </p>
        <p class="disclamer">
          NoticiasHacker es hecho en <a href="https://github.com/DFectuoso/Noticias-HAcker/blob/master/COMMITTERS">comunidad</a> y no esta asociado de ninguna manera a <a href="http://news.ycombinator.com">Hacker News</a>
        </p>
      </div>
    </div>
<script type="text/javascript">
var _sf_async_config={uid:634,domain:"noticiashacker.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
  </body>
</html>
