<html>
  <head>
    <title>Noticias Hacker{% if display_post_title %} | {{post.title}}{% endif %}</title>
    <link rel="stylesheet" href="/static/css/noticias.css" type="text/css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss" />
    <script src="/static/javascript/jquery.js"></script>
    <script src="/static/javascript/NH.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2138729-21']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
          <div id="logo">
              <a href="/" title="Hacker News">
                  <span class="logotype">N</span> Noticias Hacker
              </a>
          </div>          
        <div id="menu">                
          <div id="main_nav">
            <a href="/nuevo">Nuevo</a> |
            <a href="/agregar">Agregar un link/mensaje</a>
	    {% if user %}
	    | <a href="/threads/{{user.nickname}}">threads</a>
	    {% endif %} 
	    
          </div> 
          <div id="user_toolbar">
            {% if user %}
              <a href="/perfil/{{user.nickname}}">{{user.nickname}}</a><span class="karma">({{user.sum_votes}})</span> |
              <a href="/logout">Log out</a>
            {% else %} 
              <a href="/login">Login o registro</a>
            {% endif %} 
          </div>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
          <p>
              <a href="/rss">RSS</a> | 
              <a href="/directrices">Directrices</a> | 
              <a href="/preguntas-frecuentes">Preguntas frecuentes</a> | 
              <a href="https://github.com/DFectuoso/Noticias-HAcker">Código</a>            
          </p>
        <p class="disclamer">
          NoticiasHacker es hecho en <a href="https://github.com/DFectuoso/Noticias-HAcker/blob/master/COMMITTERS">comunidad</a> y no esta asociado de ninguna manera a <a href="http://news.ycombinator.com">Hacker News</a>
        </p>
      </div>
    </div>
  </body>
</html>
