<div id="comment-{{comment.key}}" class="comment">
  {% if threads and comment.is_top_most %}
    <div class="comment-post">
      En la noticia: <a href="/noticia/{{comment.post.key}}">{{comment.post.title}}</a>
    </div>
  {% endif %}
  <div class="votes"> 
    {% if comment.prefetched_already_voted %}
      <a class="upvote voted"><img src="/static/images/grayarrow.gif" alt="^"/></a><br/>
    {% else %}
      <a class="upvote" href="/upvote_comment/{{comment.key}}" onclick="upVoteComment(this, '{{comment.key}}'); return false;"><img src="/static/images/grayarrow.gif" alt="^"/></a><br/>
    {% endif %}
  </div>
  <div class="info">
    {{comment.prefetched_sum_votes}} puntos, entregado por <a href="/perfil/{{comment.user.nickname}}">{{comment.user.nickname}}</a> hace {{comment.created|timesince|hacetiempo}}
    {% if comment.edited %}*{% endif %}
    {% if comment.can_edit %}| <a href="/editar-comentario/{{comment.key}}">editar</a> {% endif %}
	<span class="hide-show-comment">[-]</span>
  </div>
  <div class="comment-message">
    {{comment.message|urlize|linebreaks}}
  </div>
  <div class="reply">
    {% if user %}
      <a href="/responder/{{comment.key}}">Responder</a>
    {% else %} 
      Necesitas <a href="/login">login o registro</a> para responder.
    {% endif %} 
  </div>
  <div class="innerComments">
    {% for comment in comment.processed_child %}
      {% include "comment_bit.html" %}
    {% endfor %}
  </div>
</div>

