{% extends 'base.html' %}
{% block content %}

<div id="guidelines">
  <h3>Preguntas Frecuentes de Noticias Hacker</h3> 

  <p>
    <b>¿Existen reglas o directrices de lo mensajes, links y comentarios?</b><br/>
    Si, directrices! <a href="http://noticiashacker.com/directrices">http://noticiashacker.com/directrices</a>
  </p>

  <p>
    <b>¿Cómo se ordenan los mensajes y links en la portada?</b><br/>
    (votos/horas)^2
  </p>
  <p>
    <b>¿Cómo se calcula el karma de cada usuario?</b><br/>
    Sus votos en mensajes, comentarios y links sumado
  </p>
  <p>
    <b>¿Porqué no puedo votar para abajo?</b><br/>
    Por el momento solo tenemos votos para arriba, el plan es seguir así por un buen rato. A ver que tal funciona.
  </p>
  <p>
    <b>¿Porqué no puedo hacer links en los mensajes?</b><br/>
    Si vas a entregar un link, entrega un link. Sólo parseamos urls en los comentarios
  </p>
  <p>
    <b>¿Poque se parece esto tanto a Hacker News y porque lo hiciste?</b><br/>
    Es una respuesta muy larga...<a href="http://dfectuoso.com/?p=276"> pero aqui esta!</a>
  </p>
</div>

{% endblock %}
