{% extends 'base.html' %}
{% block content %}

<div id="guidelines">
  <h3>Preguntas Frecuentes de Noticias Hacker</h3> 

  <p>
    <b>Existen reglas o lineamientos de lo mensajes, links y comentarios?</b><br/>
    Si, lineamientos! <a href="http://noticiashacker.com/lineamientos">http://noticiashacker.com/lineamientos</a>
  </p>

  <p>
    <b>Como se ordenan los mensajes y links en la portada?</b><br/>
    (votos/horas)^2
  </p>
  <p>
    <b>Como se calcula el karma de cada usuario?</b><br/>
    Sus votos en mensajes, comentarios y links sumado
  </p>
  <p>
    <b>Porque no puedo votas para abajo?</b><br/>
    Por el momento solo tenemos votos para arriba, el plan es seguir asi por un buen rato. A ver que tal funciona 
  </p>
  <p>
    <b>Porque no puedo hacer links en los mensajes?</b><br/>
    Si vas a entregar un link, entrega un link. Solo parseamos urls en los comentarios 
  </p>
  <p>
    <b>Porque te robaste todo de hacker news?</b><br/>
    Creo firmemente que Hacker News es una de las herramientas mas importantes para que la cultura hacker exista de la manera que existe en el bay area y en otros lugares.
    Lamentablemente es dificil para emprendedores y programadores latinoamericanos entregar cosas en hacker news y que tengan mucha resonancia, asi que decidi crear un lugar 
    donde podamos como comunidad hacker de latinoamerica crecer lentamente. Es un experimento y espero que funciona.
    Finalmente, aunque es una copia en estilo y lineamientos, el codigo es 100% nuestro y lo puedes encontrar en github, busca el link en el footer.
  </p>
</div>

{% endblock %}
