{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
{% if forgotten_password_error %}
  <div class="error">{{forgotten_password_error}}</div>
{% endif %}
{% if forgotten_password_ok %}
  <div class="success">{{forgotten_password_ok}}</div>
{% endif %}

  <p>Proporciona el correo electrónico que agregaste en tu perfil.</p>
  
<form method="POST" class="validable">
  <fieldset>
    <label>Email:</label><input name="email"  class="requerido" value="{{login_error_email}}" />
    <br/><input type="submit" value="Obtener mi password"/>
  </fieldset>
</form>


{% endblock %}
