{% extends 'base.html' %}
{% block content %}

<div id="guidelines">
  <h1>Lineamientos de Noticias Hacker</h1>

  <h3>Que links/post agregar?</h3>
  <p>
    Cosas que deberias de agregar:<br/>
    Cualquier cosa que un buen hacker encontraria interesante. Esto incluye mas alla de cosas de programacion y startups. En poca palabras: Cualquier cosa que gratifica la curiosidad intelectual.
  </p>
  <p>
    Cosas que <b>no</b> deberias de agregar:<br/>
    Cualquier cosa relacionada con politica, crimen, deportes a menos de que sea evidentemente un nuevo fenomeno interesante. Videos de desastres, fracasos, fotos de animales bonitos o cualquier cosa que cubran en los medios tradicionales de informacion probablemente sean mala idea.
  </p>
  
  <h3>Como agregar cosas:</h3>
  <p><b>El titulo de tu mensaje o link debe de ser en espaniol</b>, igual que los comentarios, aunque la liga sea a un articulo en ingles.</p>
  <p>Porfavor no utilizes ningun tipo de estilo para hacer que tu link reciba mas atencion, eso incluye agregar comentarios en parentecias(como este), poner signos de exclamacion!!! o USAR MAYUSCULAS</p>
  <p>Si la liga es directo a un video o un pdf, avisanos con un tag como [video] o [pdf]</p>
  <p>Porfavor entrega el link a la fuente original, si un blog habla de otro contenido, liga al contenido original</p>
  <p>No agreges el nombre del dominio o la pagina al titulo, este aparecera de todas formas a la derecha del titulo</p>
  <p>Puedes usar un titulo diferente al contenido original en tu link, pero porfavor no agreges tu opinion a el.</p>
  <p>Si quieres ligar a un contenido, usa la liga, si quieres empezar una conversacion respecto a un tema, utiliza un mensaje. Si quieres empezar la conversacion respecto a un link, escribe un blogpost al respecto y crea una liga a ese blogpost</p>
  <p>Porfavor no entreges tantos links de golpe como para que la seccion de links/mensajes nuevos este dominada por tus mensajes</p>
  <p></p>

  <h3>Como comentar en los mensajes y los links:</h3>
  <p>Se civilizado, no digas nada que no dirias en una conversacion cara a cara.</p>
  <p>Cuando no estes de acuerdo, responde al argumento sin utilizar adjetivos respecto a la otra persona. Por ejemplo no digas "Ese baboso dijo que 5 + 5  es igual a 12", mejor di "5 + 5 es 10, no 12"</p>
  <p>Porfavor no introduzcas debates religiosos(como mac vs pc) si no estas agregando algo realmente valioso y nuevo a la conversacion</p>
  <p>Porfavor no agreges firma a tus comentarios, tu comentario tiene una liga a tu perfil donde la gente puede saber mas de ti</p>
  <p>Porfavor no utilizes puras mayusculas ni ningun otro tipo de estilo para denotar enfasis.</p>
  
  <h3>Otra informacion:</h3>
  <p>Porfavor no entreges mensajes quejandote de otros contenidos, si tienes algun comentario referente a que algo sea spam, o no este bien en este sitio porfavor reportalo con el boton de reportar o manda un correo a dfectuoso@noticiashacker.com</p>

</div>

{% endblock %}
