{% extends 'base.html' %}
{% block content %}

<div id="guidelines">
  <h1>Lineamientos de Noticias Hacker</h1>

  <h3>Que links/post agregar?</h3>
  <p>
    Cosas que deberías de agregar:<br/>
    Cualquier cosa que un buen hacker encontraría interesante. Esto incluye mas allá de cosas de programación y startups. En poca palabras: Cualquier cosa que gratifica la curiosidad intelectual.
  </p>
  <p>
    Cosas que <b>no</b> deberías de agregar:<br/>
    Cualquier cosa relacionada con política, crimen o deportes, a menos de que sea un nuevo fenómeno interesante. Videos de desastres, fracasos, fotos de animales bonitos o cualquier cosa que cubran en los medios tradicionales de información, probablemente sean mala idea.
  </p>
  
  <h3>Como agregar cosas:</h3>
  <p><b>El título de tu mensaje o link debe de ser en español</b>, igual que los comentarios, aunque la liga sea a un articulo en inglés.</p>
  <p>Por favor no utilices ningún tipo de estilo para hacer que tu link reciba mas atención, eso incluye agregar comentarios en paréntesis (como este), poner signos de exclamación!!! o USAR MAYÚSCULAS.</p>
  <p>Si la liga es directo a un video o un pdf, avísanos con un tag como [video] o [pdf].</p>
  <p>Por favor entrega el link a la fuente original, si un blog habla de otro contenido, liga al contenido original.</p>
  <p>No agregues el nombre del dominio o la página al título, este aparecerá de todas formas a la derecha del título.</p>
  <p>Puedes usar un título diferente al contenido original en tu link, pero por favor no agregues tu opinión a él.</p>
  <p>Si quieres ligar a un contenido, usa la liga, si quieres empezar una conversación respecto a un tema, utiliza un mensaje. Si quieres empezar la conversación respecto a un link, escribe un blogpost al respecto y crea una liga a ese blogpost.</p>
  <p>Por favor no entregues tantos links de golpe como para que la sección de links/mensajes nuevos este dominada por tus mensajes.</p>

  <h3>Cómo comentar en los mensajes y los links:</h3>
  <p>Se civilizado, no digas nada que no dirías en una conversación cara a cara.</p>
  <p>Cuando no estés de acuerdo, responde al argumento sin utilizar adjetivos respecto a la otra persona. Por ejemplo no digas "Ese baboso dijo que 5 + 5 es igual a 12", mejor dí "5 + 5 es 10, no 12".</p>
  <p>Por favor no introduzcas debates religiosos (como mac vs pc) si no estas agregando algo realmente valioso y nuevo a la conversación.</p>
  <p>Por favor no agregues firma a tus comentarios, tu comentario tiene una liga a tu perfil donde la gente puede saber mas de ti.</p>
  <p>Por favor no utilices puras mayúsculas ni algún otro tipo de estilo para denotar énfasis.</p>
  
  <h3>Otra información:</h3>
  <p>Por favor no entregues mensajes quejándote de otros contenidos, si tienes algún comentario referente a que algo sea spam o no sea apropiado para este sitio haz favor de reportarlo con el botón de reportar o manda un correo a dfectuoso@noticiashacker.com.</p>

</div>

{% endblock %}
