{% extends 'base.html' %}
{% block content %}

<div class="leaderboard">
  <div class="leader-user">
    <span class="position">Top</span>
    <span class="nickname">Usuario</span>
    <span class="karma">Karma</span>
    <span class="average_karma">Karma promedio</span>
  </div>
  {% for u in users %}
    <div class="leader-user">
      <span class="position">{{u.pos}}</span>
      <span class="nickname">{{u.nickname}}</span>
      <span class="karma">{{u.karma}}</span>
      <span class="average_karma">{{u.average_karma}}</span>
    </div>
  {% endfor %}
</div>

{% endblock %}
