{% extends 'base.html' %}
{% block content %}

{% for post in posts %}
  <div id="noticia">
    <div class="post-votes">
      <a class="post-upvote" href="/upvote/{{post.key}}" onclick="upVote('{{post.key}}'); return false;">^</a><br/>
      <a class="post-downvote" href="/downvote/{{post.key}}" onclick="downVote('{{post.key}}'); return false;">v</a>
    </div>
    <div class="post-title">
      <a href="{{post.url}}">{{post.title}}</a>
    </div>
    <div class="post-info">
      {{post.votes.count}} votos by <a href="/perfil/{{post.user.nickname}}">{{post.user.nickname}}</a> hace {{post.created|timesince|hacetiempo}} | 
      <a href="/noticia/{{post.key}}">{{post.comments.count}} comentarios</a>
    </div>
  </div>
{% endfor %}

{% endblock %}
