{% extends 'base.html' %}
{% block content %}
<h1>Crear contraseña nueva</h1>

{% if error %}
	<div class="error">{{error}}</div>
{% endif %}

<form method="POST" action="/recovery/" class="validable">
  <fieldset>
    <label for="password">Password:</label><input type="password" name="password" id="password" class="requerido" />
    <label for="password_confirm">Confirmar Password:</label><input type="password" id="password_confirm" name="password_confirm"  class="requerido" />
    <br/><input type="submit" value="Crear nueva contraseña"/>
    <input type="hidden" name="code" value="{{ticket.code}}" />
  </fieldset>
</form>
{% endblock %}
