{% extends 'base.html' %}
{% block content %}
<h1>Inbox</h1>
<ul class="notifications">
  {% for notification in notifications %}
    <li class="notification">
      <p><a href="/perfil/{{notification.sender_user.nickname}}">{{notification.sender_user.nickname}}</a><span> comentó en el tema <a href="{{notification.post.url}}">{{notification.post.title}}</a > hace </span><span>{{notification.created|timesince|hacetiempo}}</span></p> 
      <p class="post-info">{{notification.comment.message}}</p>
      <p class="reply">
        <a href="/responder/{{notification.comment.key}}">Responder</a> 
        <span> | </span>
        <a href="/inbox/marcar-como-leido/{{notification.key}}">Marcar como leido</a>
      </p>
    </li>
  {% endfor %}
</ul>
{% endblock %}
