{% extends 'base.html' %}
{% block content %}
<div class="notifications">
  <h1>Inbox</h1>

  {% for notification in notifications %}
    <div class="notification">
      <div>Tema: <a href="{{notification.post.url}}">{{notification.post.title}}</a ></div>
      <div> enviado por <a href="/perfil/{{notification.sender_user.nickname}}">{{notification.sender_user.nickname}}</a> hace {{notification.created|timesince|hacetiempo}}</div> 
      <div class="post-info">
        <div>{{notification.comment.message}}</div>
      </div>
      <div class="reply">
        <a href="/responder/{{notification.comment.key}}">Responder</a> |
        <a href="/inbox/marcar-como-leido/{{notification.key}}">Marcar como leido</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
