{% extends 'base.html' %}
{% block content %}

{% if inbox %}
  <h1>Notificaciones no leídas</h1>
{% else %}
  <h1>Todas las notificaciones</h1>
{% endif %}


<div class="notifications-menu">
  <a href="/inbox" {% if inbox %}class="page"{% endif %}>No leidos</a> |
  <a href="/inbox/all" {% if inboxAll %}class="page"{% endif %}>Todos</a>
</div>

<ul class="notifications">
  {% for notification in notifications %}
    <li class="notification">
      <p><a href="/perfil/{{notification.sender_user.nickname}}">{{notification.sender_user.nickname}}</a><span> comentó en el tema <a href="{{notification.post.url}}">{{notification.post.title}}</a > hace </span><span>{{notification.created|timesince|hacetiempo}}</span></p> 
      <p class="post-info">{{notification.comment.message}}</p>
      <p class="reply">
        <a href="/responder/{{notification.comment.key}}">Responder</a> 
        {% if not notification.read %}
        <span> | </span>
        <a href="/inbox/marcar-como-leido/{{notification.key}}" onclick="markAsRead(this,'{{notification.key}}'); return false;">Marcar como leido</a>
        {% endif %}
      </p>
    </li>
  {% endfor %}
</ul>
<div id="pages">
  {% if prevPage %}
    <a class="prevPage" href="?pagina={{prevPage}}">&#171; anterior</a>
  {% endif %}
  {% if prevPage and nextPage %}
     &nbsp; | &nbsp;
  {% endif %}
  {% if nextPage %}
    <a class="nextPage" href="?pagina={{nextPage}}">siguiente &#187;</a>
  {% endif %}
</div>
{% endblock %}
