  <div class="noticia">
    <div class="post-votes">
      {% if post.number %}
        <span class="order-number">{{post.number}}.</span>
      {% endif %}
      {% if post.prefetched_already_voted %}
        <a class="post-upvote voted"><img src="/static/images/grayarrow.gif"/></a><br/>
      {% else %}
        <a class="post-upvote" href="/upvote/{{post.key}}" onclick="upVote(this, '{{post.key}}'); return false;"><img src="/static/images/grayarrow.gif" alt="^"/></a><br/>
      {% endif %}
    </div>
    <div class="post-title">
      <a href="{{post.url}}">{{post.title}}</a>
      {% if not post.message %}
        <span class="post-netloc">({{post.url_netloc}})</span>
      {% endif %}
    </div>
    <div class="post-info">
      {{post.prefetched_sum_votes}} puntos, entregado por <a href="/perfil/{{post.user.nickname}}">{{post.user.nickname}}</a> hace {{post.created|timesince|hacetiempo}}
      {% if post.edited %}*{% endif %}
      | 
      	{% if not post.niceurl  %}
	      	<a href="/noticia/{{post.key}}">{{post.cached_comment_count}} comentarios</a>
	{% else %}
		<a href="/noticia/{{post.niceurl}}">{{post.cached_comment_count}} comentarios</a>	
	{% endif %}
      {% if post.can_edit %}| <a href="/editar-noticia/{{post.key}}">editar</a> {% endif %}
    </div>
  </div>

