{% extends 'base.html' %}
{% block content %}

<div id="post">
  {% include "post_bit.html" %}
  {% if post.message %}
    <div class="message">
      {{post.message|linebreaksbr}}
    </div>
  {% endif %}
  {% if user %}
    <form method="POST" class="validable">
      <fieldset>
        <textarea name="message" class="requerido"></textarea>
        <input type="hidden" name="comment_key" value="">
        <br/><input type="submit" value="Agregar comentario"/>
      </fieldset>
    </form>

  {% else %}
    <a href="/login">Registrate</a> para responder a este mensaje, toma 10 segundos<hr/>
  {% endif %}
  {% for comment in comments %}
    {% if not comment.father_ref %}
      {% include "comment_bit.html" %}
    {% endif %}
  {% endfor %}
</div>
<script type="text/javascript">
;(function($){
  $('textarea[name=message]').keypress(function(){
    var $hidden = $(this).siblings('input[name=comment_key]');

    if ($hidden.val() === '') {
      setTimeout(function() {
        $hidden.val('{{comment_key}}');
      }, 5000);
    }
  });
}(jQuery));
</script>
{% endblock %}
