{% extends 'base.html' %}
{% block content %}

<div id="post">
  {% include "post_bit.html" %}
  {% if post.message %}
    <div class="message">
      {{post.message|linebreaksbr}}
    </div>
  {% endif %}
  {% if user %}
    <form method="POST" class="validable">
      <fieldset>
        <textarea name="message" class="requerido"></textarea>
        <br/><input type="submit" value="Agregar comentario"/>
      </fieldset>
    </form>
  {% else %}
    Necesitas <a href="/login">Login o registro</a> para agregar comentario.<hr/>
  {% endif %}
  {% for comment in comments %}
    {% if not comment.father_ref %}
      {% include "comment_bit.html" %}
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
