{% extends 'base.html' %}
{% block content %}
<div class="profile">
  <h1>{{profiledUser.nickname}}</h1>
  <div>Se registro hace {{profiledUser.created|timesince|hacetiempo}}</div>
  <div>Karma: {{profiledUser.sum_votes}}
  <div>Karma promedio: {{profiledUser.average_karma}}
  {% if my_profile %}
    <form method="POST" class="validable profile">
      <fieldset>
        <label for="hnuser">Usuario HN:</label>
        <input type="text" name="hnuser" id ="hnuser" value="{{profiledUser.hnuser}}" />
        <br />
        <label for="github">Usuario Github:</label>
        <input type="text" name="github" id ="github" value="{{profiledUser.github}}" />
        <br />
        <label for="location">Localización:</label>
        <input type="text" name="location" id ="localizacion" value="{{profiledUser.location}}" />
        <br />
        <label for="twitter">Twitter:</label>
        <input type="text" name="twitter" id="twitter" value="{{profiledUser.twitter}}" />
        <br />
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" size="30" value="{% if profiledUser.email %}{{profiledUser.email}}{% endif %}" />
        <br />
        <label for="url">Url:</label>
        <input type="text" name="url" id="url" size="30" value="{% if profiledUser.url %}{{profiledUser.url}}{% endif %}" />
        <br />
        <label for="about">Bio:</label>
        <textarea id="about" name="about">{{profiledUser.about}}</textarea>
      </fieldset>
      <br />
      <input type="submit" value="Actualizar perfil"/>
    </form>
  {% else %}
    {% if profiledUser.about %}
      {% if profiledUser.hnuser %}
        <div class="hnuser">
          Hackers News User:{{profiledUser.hnuser}}
        </div>
      {% endif %}
      {% if profiledUser.github %}
        <div class="github">
          Github User:{{profiledUser.github}}
        </div>
      {% endif %}
      {% if profiledUser.location %}
        <div class="localizacion">
          Localización:{{profiledUser.location}}
        </div>
      {% endif %}
      {% if profiledUser.twitter%}
        <div class="twitter">
          Twitter: @{{profiledUser.twitter}}
        </div>
      {% endif %}
      {% if profiledUser.url %}
        <div class="link">
          Link:<a href="{{profiledUser.url}}">{{profiledUser.url}}</a>
        </div>
      {% endif %}

      <div class="about">
        {{profiledUser.about}}
      </div>
    {% endif %}
  {% endif %}
  <div>
    <a href="/conversaciones/{{profiledUser.nickname}}">Comentarios</a><br/>
    <a href="/noticias-usuario/{{profiledUser.nickname}}">Links y mensajes</a>
  </div>
</div>
{% endblock %}
