{% extends 'base.html' %}
{% block content %}
<div class="submit">
  <h1>Agregar un link</h1>
  {% if post_error %}
    <div class="error">{{post_error}}</div>
  {% endif %}
  <form method="POST" class="validable">
    <fieldset>
      <label>Titulo</label><input class="textfields requerido" name="title" value="{{ get_title }}"/>
      <label>Url</label><input class="textfields requerido url" name="url" value="{{ get_url }}"/><br/>
      <input type="submit" value="Agregar"/>
    </fieldset>
  </form>
  <p><a href="javascript:(function(){ var title = document.getElementsByTagName('title')[0].innerHTML;var url = location.href;window.location = '{{ base_url }}/agregar?title='+encodeURIComponent(title)+'&url='+encodeURIComponent(url); })();">Bookmark</a></p>

  <hr/>
  <h1>Agregar un mensaje</h1>
  <form method="POST" class="validable">
    <fieldset>
      <label>Titulo</label><input class="textfields requerido" name="title"/>
      <label>Mensaje</label><textarea name="message" class="requerido"></textarea><br/>
      <input type="submit" value="Agregar"/>
    </fieldset>
  </form>
</div>
{% endblock %}
